<section class="headline">
            <header>
                <img class="section-item" id="logo" src="https://via.placeholder.com/150x150" alt="Placeholder Logo" title="Megan's Logo" width="150" height="150">
            </header>
            <nav class="section-item">
                    <ul>
                        <li>
                            <a href="#type">Type</a>
                        </li>
                        <li>
                            <a href="#ti">Logo & Image Use</a>
                        </li>
                        <li>
                            <a href="#colours">Colours</a>
                        </li>
                        <!-- <li>
                            <a href="#links">Links</a>
                        </li>
                        <li>
                            <a href="#widgets">Widgets</a>
                        </li> -->
                    </ul>
                </nav>        
        </section>
